### IF Statement

### Problems:

1. Write a program to check whether x is less than y

where, x = 20 and y = 30

Assigning x equal to 20
Assigning y equal to 30
If condition x is less then y then go to step 4
print x is less then y

In [1]:
x=20
y=30

In [2]:
if x<y:
    print('x is less than y')
else :
    print('x is greater than y')

x is less than y

2. Write a program to check whether the total score (theory --> 100 + practical --> 100) is less than or equal to 200. 
If it goes beyond 200, print an error or a warning message.

Hint:

Set, 
Theory equal to 140
Practical equal to 145
If condition for theory + practical is greater than 200 
then, print invalid score

In [2]:
input1=float(input("enter theory score : "))
input2=float(input("enter practical score : "))
input3=input1+input2
if input3>200:
    print("invalid score")
else:
    print("total score is ",input3)

enter theory score : 150
enter practical score : 60
invalid score

# If-else Statement

3. Write a python program to to check whether the student has passed the subject based on string input yes/no

Hint:

Get an user input 'yes' / 'no' pass this to variable named 'Subject'
Create a If condition, when the Subject value is 'yes' then print 'Cleared the test', Else print 'Failed the test'

In [3]:
subject=input("enter yes or no : ").lower()
if subject=='yes':
    print('cleared the test')
else:
    print('failed the test')

enter yes or no : no
failed the test

4. Write a program to get the password from user, check whether the password is 'great'. 
Through a reply to the user accordingly.

Hint:

Get password from user, the input statement should be 'Enter the password: '
pass this to variable named 'Password'
If passwrod is 'great', print 'Password Accepted'
else print  'Wrong Password'

In [10]:
password=input("enter your password here : ").lower()
if password=='great':
    print('password accepted')
else:
    print('wrong password')

enter your password here : great
password accepted

###  Nested if Statement

1. Based on the users age, divide them in to three groups 
Group 1 : Age <=18 , Minors who are not eligible to work
Group 2 : 18<Age<60 , ELigible to work
Group 3 : >=60, Too old to work as per govt. regulations. 

Write a program for the same

Hint:

Create variable Name age equal to input 
if condition for age is < 18 go to step 3 , else go to step 5 
print  Your Minor not Eligible to Work 
if condition for age >= 18 and age <= 60 go to step 5 , else go to step 6 
print Your Eligible to Work fill in your details and apply 
print Your too old to work as per the Government rules  Please Collect your pension

In [20]:
name=input("enter your name here : " )
age=int(input("enter your age : " ))
if age>18 and age<60 :
    print("you are eligible to work")
elif age<18 :
    print("sorry", name ,"you are minor not eligible to work")
elif age>=60:
    print("sorry", name ,"you are too old to work as per the govt rules, please collect your pension")

enter your name here : charan
enter your age : 60
sorry charan you are too old to work as per the govt rules, please collect your pension

# While Loop

1. Take an integer as input from the user and print all the numbers from 0 to that number in reverse order. 

Example : if the input is 3, the output should be
3
2
1

Hint:

Create variable n using input value
give the while loop condition i.e. n > 0
then decrement,  n = n-1
print n

In [4]:
n=int(input())
while n>0:
    n=n-1
    print(n)

3
2
1
0

2.  Write a python code to find the squares of all the numbers based on an input. 

    Example : If the input is 10, the output should be
    1*1 ,2*2 ,3*3...... 10*10

Hint:

Create the variable i assigning to 1
Give the while loop condition for i <= 10 
print i ** 2
increment i
loop will execute until i is less than or equal to 10

In [5]:
i=1
while i<=10:
    print(i**2)
    i=i+1

1
4
9
16
25
36
49
64
81
100

# For Loop

1. Write a pseudocode to print the multiplication table of a given number.

Example : if the user input is 3, the output should be like below :  
3 X 1 = 3
3 X 2 = 6
...
3 X 10 =30

Hint:

Get user input and store it in variable n.
Give the For loop condition in the range between (1,11)
In print statement give the condition (n,'x',i,'=' ,n*i)
This will print the multiplication tables of a given number.

In [7]:
n=int(input())
for i in range(1,13):
    print(n,"x",i,"=" ,n*i)

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

2. Write a python code to print squares of all numbers present in the list = [1, 22, 14, 64, 31, 120]

Hint:

Create a list named 'numbers' [1, 22, 14, 64, 31, 120]
Create a variable name 'square' and assign 0 to it
For loop condition for i in the list
square equal to i * i  
Print square

In [10]:
numbers=[1,22,14,64,31,120]
square=0
for value in numbers:
    square=value*value
    print(square, end=" ")

1 484 196 4096 961 14400

# Additional Practice Programs

1. Write a python program that takes a list  ['red','black','blue']  and prints each element in the list using whle loop

In [11]:
colors=['red','black','blue']
i=0
while i< len(colors):
    print(colors[i])
    i=i+1

red
black
blue

2. Write a same program as above using a For loop?

In [12]:
colors=['red','black','blue']
for i in colors:
    print(i)

red
black
blue

3. Write a Python Program to find the LCM of two numbers?

In [14]:
a=int(input())
b=int(input())
if(a>b):
    variable=a
else:
    variable=b
while True:
    if (variable%a==0 and variable%b==0):
        print("lcm is : ",variable)
        break
    variable=variable+1

43
654
lcm is :  28122

4. Python Program to find the sum of series: 1 + 1/2 + 1/3 + ….. + 1/N.

In [11]:
n=int(input())
summation=0
for i in range(1,n+1):
    summation=summation+(1/i)
print("the sum of series is ", round(summation,3))

3
the sum of series is  1.833

# List Comprehensions

1. 

i. Write a Python program to get the squares of numbers present in the range of (1-10) 

* output squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
squares=[]
for i in range(0,11):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

ii. For the same question get the desired output using List Comprehension

In [2]:
squares=[i*i     for i in range(0,11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Convert a list of integers to a list of strings, using List comprehension

In [4]:
list1=[0,1,2,3,4]
[str(i) for i in list1]

['0', '1', '2', '3', '4']

3. Create tuples from two lists using List Comprehensions

Hint:
list1 =[0,1]
list2 =['zero','one']

Output:
[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

In [6]:
l1=[0,1]
l2=['zero','one']
[(x,y)   for x in l1 for y in l2]

[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

4. Get Index of Each Element of List using enumerate in List Comprehension

In [7]:
l3=['a','b','c','d','e']
[(i,j)  for (i,j) in enumerate(l3)]

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]