# Python List:

1. Create your own lists otherwise use the List1 = ['hello','great','learning']  to perform the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

1.A. Repetition:

In [1]:
list1=['hello','great','learning']
print(list1*2)

['hello', 'great', 'learning', 'hello', 'great', 'learning']

1.B. Concatenation (+):

In [1]:
list1=['hello','great','learning']
list2=['bangalore']
print(list1+list2)

['hello', 'great', 'learning', 'bangalore']

1.C. Membership:

In [8]:
list1=['hello','great','learning']
print ('hello' in list1)

True

1.D. Length:

In [5]:
list1=['hello','great','learning']
print(len(list1))

3

1.E. Iteration:

In [7]:
list1=['hello','great','learning']
for data in list1:
    for letters in data.upper():
        print(letters)

H
E
L
L
O
G
R
E
A
T
L
E
A
R
N
I
N
G

2.1. Create your own lists to perform the below Python List Built-in functions?
otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

2.A)  max():

In [9]:
l1 = [15, 300, 2700, 821]
l2 = [12, 2]
l3 = [34, 567, 78]
print (max(l1))
print(max(l2))
print(max(l3))

2700
12
567

2.B) min():

In [10]:
l1 = [15, 300, 2700, 821]
l2 = [12, 2]
l3 = [34, 567, 78]
print (min(l1))
print(min(l2))
print(min(l3))

15
2
34

2.C) list:

In [77]:
t1=(400,600,500,300)
print(list(t1))

[400, 600, 500, 300]

3. Create your own lists to perform the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

3.A) append:

In [14]:
l1 =[15, 300, 2700, 821]
l1.append(500)
l1

[15, 300, 2700, 821, 500]

3.B) list.clear():

In [16]:
l1 = [15, 300, 2700, 821,600,800]
l1.clear()
l1

[]

3.C) List.copy()

In [17]:
l2=[500,600,700,800,900]
l3=l2.copy()
l3

[500, 600, 700, 800, 900]

3. D) list.count(obj):

In [18]:
l4=[1,2,3,4,5,6,7,8,9,2,4,2,5]
l4.count(2)

3

3.E) list.extend(seq):

In [20]:
l4=[1,2,3,4,5,6,7,8,9,2,4,2,5]
l4.extend((2,100))
l4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 2, 5, 2, 100]

3.F) list.index(obj):

In [22]:
l4=[1,2,3,4,5,6,7,8,9]
l4.index(5)

4

3.G) list.insert(index, obj):

In [24]:
l5=[1,4,3,5,6,'great']
l5.insert(6,'learning')
l5

[1, 4, 3, 5, 6, 'great', 'learning']

3.H) list.pop(obj=list[-1]):

In [25]:
l5=[1,4,3,5,6,'great']
l5.pop(-1)

'great'

3.I) list.remove(obj):

In [27]:
l5=[1,4,3,5,6,'great']
l5.remove(5)
l5

[1, 4, 3, 6, 'great']

3.j) list.reverse():

In [29]:
l5=[1,4,3,5,6,'great']
l5.reverse()
l5

['great', 6, 5, 3, 4, 1]

3.K) list.sort([func]):

In [30]:
l6=[4,3,6,2,8,9,1,10]
l6.sort()
l6

[1, 2, 3, 4, 6, 8, 9, 10]

# Python Tuple

Create your own Tuple to perform the below Python tuple Operations ?
otherwise use the below
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

1.A. Repetition:

In [31]:
t1 = ('a','b','c','d')
t1*3

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

1.B. Concatenation (+):

In [33]:
t1 = ('a','b','c','d')
t2 = ('e','f','g','h')
t1+t2

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

1.C) Membership:

In [34]:
t1 = ('a','b','c','d')
t2 = ('e','f','g','h')
print('a' in t1)
print('a' in t2)

True
False

1.D) Length:

In [35]:
t1 = ('a','b','c','d')
t2 = ('e','f','g','h')
print(len(t1))
print(len(t2))

4
4

1.E) Iteration:

In [36]:
for words in t1:
    for words2 in t2:
        print(ord(words),ord(words2))

97 101
97 102
97 103
97 104
98 101
98 102
98 103
98 104
99 101
99 102
99 103
99 104
100 101
100 102
100 103
100 104

2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
otherwise use the below
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

2.A) max():

In [37]:
t3=(1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
max(t3)

8765

2.D) min():

In [38]:
t3=(1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
min(t3)

1

2.E) Tuple:

In [39]:
l5=[5,6,7,8,9,0,11]
tuple(l5)

(5, 6, 7, 8, 9, 0, 11)

# Python Set

Create your own Set to operate the below Python Set Operations ?
otherwise use the below set:
        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

1.A) Union:

In [40]:
s1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
s2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 54, 77, 432, 567, 876}

1.B. Intersection

In [41]:
s1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
s2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
s1&s2

{3, 4, 5, 6, 7}

1.C. Difference

In [42]:
s1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
s2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
s1-s2

{1, 2, 8, 77, 876}

1.D. Symmetric difference:

In [43]:
s1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
s2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
s1^s2

{1, 2, 8, 54, 77, 432, 567, 876}

# Python Dictionary

Create your own Dictionary to perform the below Python Built-in Dictionary functions
otherwise use the below Dictionary:
                            dict = {'Name': 'Student', 'Age': 27};

    A.	len(dict)     
    B.	str(dict)      
    C.	type(variable)

1.A) len(dict):

In [44]:
dict1 = {'Name': 'Student', 'Age': 27}
len(dict1)

2

2.B) str(dict):

In [45]:
dict1 = {'Name': 'Student', 'Age': 27}
str(dict1)

"{'Name': 'Student', 'Age': 27}"

1.C) type(variable):

In [47]:
dict1 = {'Name': 'Student', 'Age': 27}
type('Name')

str

2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
otherwise use the below Dictionary:

                            dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

2.A) dic.clear():

In [52]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.clear()
d1

{}

2.B) dict.copy():

In [53]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d2=d1.copy()
d2

{0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}

2.C) dict.fromkeys():

In [55]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.fromkeys(d1)

{0: None, 1: None, 2: None, 3: None, 4: None}

2.D) dict.get(key[, value]) :

In [76]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(0,d1.get(0))

0  Data

2.E) dict.items()

In [61]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.items()

dict_items([(0, ' Data'), (1, 'GREAT'), (2, 'LEARNING'), (3, 'Python'), (4, 'Happy')])

2.F) dict.keys() :

In [62]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.keys()

dict_keys([0, 1, 2, 3, 4])

2.G) dict.setdefault():

In [63]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.setdefault(0)

' Data'

2.H) dict.update():

In [68]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.update({5:'bangalore'})
d1

{0: ' Data',
 1: 'GREAT',
 2: 'LEARNING',
 3: 'Python',
 4: 'Happy',
 5: 'bangalore'}

2.L)  dict.values():

In [69]:
d1 = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1.values()

dict_values([' Data', 'GREAT', 'LEARNING', 'Python', 'Happy'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

1. Write if statement 13 is greater than 25?

In [71]:
val1=13
val2=25
if val1>val2 :
    print("true")
else:
    print("false")

false

2.  Write a if else  statement to find if the number is divisible by 25?

In [73]:
val=int(input("enter any number"))
if val%25==0:
    print(val,"is divisible by 25")
else:
    print(val,"is not divisible by 25")

enter any number2500
2500 is divisible by 25

3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [74]:
a=154
b=2541
c=6054
if a>b and a>c:
    print('a is greater than b and c ')
elif b>a and b>c:
    print('b is greater than a and c')
else:
    print('c is greater than a and b')

c is greater than a and b