1. Write a Python function to multiply all the numbers in a list.

In [17]:
def multiply(numbers):
    total=1
    for x in numbers:
        total=total*x
    return total
print(multiply((1,2,3,4,5,6)))

720

2. Write a Python function to reverse a string 
i) use for loop
ii) use while loop

In [21]:
def reverse(s):
    while len(s)>0:
        print(s[::-1])
        break
reverse('great')

taerg

In [ ]:
def rev(s):
    for i in s[-1: :-1]:
        print(i, end='')

3. Write a function to add and subtract two variables

In [23]:
def addsub(a,b):
    add=a+b
    sub=a-b
    print(add,sub)
addsub(10,20)

30 -10

4. Write a function to check the number is divisible by 12

In [24]:
def check(n):
    if n%12==0:
        print("divisible")
    else:
        print("not divisible")

In [25]:
check(13)

not divisible

5. Write a function to calculate the number of days and weeks

In [26]:
def calc(days):
    weeks=days//7
    remainder=days%7
    return "{} week (s) and {} day(s)".format(weeks,remainder)
calc(13)

'1 week (s) and 6 day(s)'

6.Write a Python function to Find the 5!?

In [31]:
def factors(x):
    if x==0:
        return 1
    else:
        return x*factors(x-1)
factors(5)

120

7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [37]:
def unique(*args):
    return list(set(*args))

In [38]:
unique([1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3])

[1, 2, 3, 4, 5, 34, 7, 6, 654]

Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

1. Required arguments: 
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [42]:
def simple_interest(p,t,r):
    return (p*t*r)/100
p=float(input("amount "))
r=float(input("rate of interest "))
t=float(input(" years "))
print

amount 4000
rate of interest 2
 years 4

2.Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

3.Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [44]:
def default(name,age=27):
    print("my name is ", name, "age is" , age)
default('charan')

my name is  charan age is 27

### lambda function

1. Get a number from user,  find if it is even or odd number?

In [46]:
remainder=lambda num:num%2
print(remainder(int(input())))

2
0

2. Take a input from user and  square it

In [50]:
square= lambda x:x*x
print(square(int(input())))

5
25

3. Write a lambda function using logical operators?

Hint:
Check x < 10
Output: False / True

In [4]:
check=lambda x:x<10
print(check(int(input())))

20
False

4. Take an integer input from the user,  add 5 to the number and print it back?

In [51]:
add=lambda x:x+5
print(add(int(input())))

20
25

### Map

1. Add two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69] 
     
     Output:
     [53, 78, 105]

In [52]:
lis1 = [12, 24, 36] 
lis2 = [41, 54, 69] 
result = map(lambda x,y : x+y,lis1,lis2)
print(list(result))

[53, 78, 105]

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [54]:
l = [1, 2, 3, 4, 5, 6, 7]
l2=print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25, 36, 49]

3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [55]:
l1 = [1, 2, 3, 4, 5, 6, 7]
l2=print(list(map(lambda x:x%2==0,l1)))

[False, True, False, True, False, True, False]

4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [56]:
l1=[11, 12, 13, 14, 435, 6, 27]
l2=print(list(map(lambda x:x//7==0,l1)))

[False, False, False, False, False, True, False]

### Filter

1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [6]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]
l2=print(list(filter(lambda x:x%2!=0,lis1)))

[3, 43, 455, 43, 543]

2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [57]:
list1 = [1, 2, 3, 4, 5, 6]
l2=print(list(filter(lambda x:x%2==0,list1)))

[2, 4, 6]

3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [58]:
def even(x):
    if x%2==0:
        return True
        return False
print(list(filter(even,[2,3,5,3,6,3,7,4,6,7])))

[2, 6, 4, 6]

4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [60]:
def odd(x):
    if x%2==1:
        return True
        return False
print(list(filter(odd,[1, 12, 31, 4, 15, 6, 7])))

[1, 31, 15, 7]

### Reduce

1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)